.Auth{
    width: 80%;
    margin:20px auto;
    text-align: center;
    box-shadow: 0 2px 3px #bbbccc;
    border:1px solid #aca000;
    padding:10px;
    box-sizing:border-box
}

/* .ContactData input{
    display: block;
} */
@media(min-width :100px){
    .Auth{
        width: 500px;
    }
}